.cityPageWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    padding: 50px 15px 90px 15px;
    //background-color: #58CBDC;
}

.backIcon {
    align-self: flex-start;

    svg {
        color: #FAFAFA;
        font-size: 24px;

    }
}

.tittleWrapper {


    color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 200;

    .title1 {
        font-size: 42px;
    }

    .subtitle1 {
        font-size: 24px;
        font-weight: 100;

    }
}

.tempWrapper {

    display: flex;
    align-items: center;

}

.temp {
    font-family: 'Montserrat';
    color: #FAFAFA;
    font-size: 120px;
}

.complements {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Montserrat';
    color: #FAFAFA;
    justify-content: space-between;
    height: 60%;

    svg {
        color: #FAFAFA;

    }
}

.temVar {

    p {
        display: flex;
        align-items: center;
        font-weight: 100;

        svg {
            font-weight: 100;
        }
    }
}

.celcius {
    font-size: 24px;
}

.Sun {
 

    @media (max-width:800px) {
        margin-bottom: 60px;
    }

    @media (max-width:375px) {
        margin-bottom: 3px;
        
    }
   //margin-bottom: 1px !important; 
    svg {
        color: #FAFAFA;
        font-family: 'Montserrat';
        font-size: 110px;
    }

}

.specsWrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFA;
    width: 100%;
    font-weight: 100;

    span {
        height: 40%;
        background-color: #FAFAFA;
        border: .5px solid;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #FAFAFA;
        font-family: 'Montserrat';
        padding: 10px;

        label {
            font-weight: 100;
            font-size: 16px;
        }

        p {
            font-size: 12px;
            margin-top: 5px;
            font-weight: 400;

        }
    }
}

.hoursWrapper {
 //margin-bottom: 1px !important;

    @media (max-width:800px) {
        margin-bottom: 40px;
    }
    @media (max-width:375px) {
        margin-bottom: 0px;
    }

   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    //  border: solid;
    color: #FAFAFA;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        //padding: 10px;
        font-family: 'Montserrat';

        label {
            font-size: 14px;
            font-weight: 100;
        }

        svg {
            font-size: 60px;
            margin: 10px 0px
        }
    }
}