.mainWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 125px;
    background-color: #0F0F0F;
    height: 100%;
    width: 100%;


    @media(max-width:400px) {
        padding-top: 0px;

    }

}


.headTitle {
    color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 300;

    #title {
        font-size: 34px;
    }

    #subtitle {
        font-size: 25px;
        font-weight: 100;

    }
}


.imageWrapper {

    width: 120px;
    margin: 25px 0px;

    img {
        width: 100%;
    }
}



.listWrapper {


    ul {
        @media (max-width:300px) {

            font-size: 14px;

        }

        display: flex;
        // flex-wrap: wrap;
        list-style: none;
        flex-direction: row;
        padding: 1px 20px;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 300;
        justify-content: space-between;

        li {
            color: #FAFAFA;
            padding: 15px;

            a {
                color: #FAFAFA;
                text-decoration: none;
            }

        }
    }

}